body {
    font-family: 'Times New Roman', Times, serif;
    background-color: aquamarine;
    padding: 20px;
}

.todo {
    background: white;
    padding: 20px;
    max-width: 400px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
    width: 65%;
    padding: 8px;
    margin-right: 10px;
}

button {
    padding: 8px 12px;
    margin-left: 4px;
    margin-top: 8px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button:hover {
    background-color: #45a049;
}

ul {
    list-style: none;
    padding: 0;
    margin-top: 20px;
}

li {
    background: #eee;
    padding: 10px;
    margin-bottom: 8px;
    border-radius: 4px;
    justify-content: space-between;
    align-items: center;
    display: flex;
}

.task-text {
    flex: 1;
    margin-right: 10px;
    word-break: break-word;
    font-size: 16px;
}

.task-actions button {
    background-color: #f44336;
    gap: 6px;
}